.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}
.wh-swarna{
    color: #FFF;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    width: 50px;
    height: auto;
}

.footer-text {
    font-size: 16px;
}

.footer-container 
.logo-image {
  
  z-index: 1;
  position: relative;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-logo {
        width: 40px;
    }

    .footer-text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        width: 35px;
    }

    .footer-text {
        font-size: 12px;
    }
}
